<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CTH DMPs API</title>
</head>
<body>
    <p>
    Search API for Chalmers DSW DMPs. Authorization key required. <br />
    Only GET method is supported. Returns RDA Commons maDMP v 1.0 JSON. The following endpoints are valid:
	<ul>
        <li><b>/search?q=</b> - Search query in standard Lucence syntax, i.e. &quot;title:my data plan&quot;</li>
        <li><b>/plans/</b> - Retrieve specific plan by ID, i.e. &quot;/3dd145-dgashgd6-476yegh67-sjs6jhd&quot;</li>
    </ul>
   </p> 
</body>
</html>